a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: rgb(236, 104, 155);
  align-items: end;
}

body {
  background-color: white;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

div {
  color: pink
}

h1 {
  font-size: 40px;
  line-height: 1.1;
  color: rgb(224, 78, 102);

}

h2 {
  color: rgb(224, 78, 102);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(238, 134, 152);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

